{% extends "base.html"%} 
{% block title %} Dynamis title here {% endblock title%} 
{% load thumbnail %}


{%block body %} 

  <a href="{%url 'feed:post' %}">Add a new post</a>
  <hr>
  {% for post in posts %}
    <a href="{% url 'feed:detail' post.id %}" style="display: inline-block;">
      <h2>{{post.text}}</h2>
      {% thumbnail post.image "300x300" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
    </a>
    <hr>
  {% endfor %}
{% endblock body%}
